body {
    animation: slideIn 1s ease-in-out;
    background-image: url("../resources/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:coral;
    background-attachment: fixed;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

form {
    transition: transform 0.3s ease;
}

footer{
    background-color: none;
}

.navOp {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    }

.navOp li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
.navOp li a:hover {
    background-color: #111;
    }
.active {
    background-color: black;
}

@media (max-width: 500px){
    .navOp{
        display: block;
    }
}

.navHeader{
    background-color: rgba(0,0,0,0.25);
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: left;
}

.navHeader img{
    height: 100%;
}